<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
     <mapper namespace="com.wuyuting.cms.dao.SlideDao">
     	<!-- 查询 -->
     	<select id="select" resultType="com.wuyuting.cms.pojo.Slide">
   	 	SELECT * FROM cms_slide
     	</select>
    	 <!-- 查询根据ID -->
     	<select id="selectById" resultType="com.wuyuting.cms.pojo.Slide">
     	SELECT * FROM cms_slide WHERE id=#{id}
     	</select>
     	<!-- 添加 -->
     	<insert id="insert">
    	 INSERT INTO cms_slide(title,picture,url)VALUES 
		(#{title},#{picture},#{url})
     	</insert>
     	<!-- 修改 -->
     	<update id="update">
     	UPDATE cms_slide
 		SET title=#{title},picture=#{picture},url=#{url} 
		WHERE id=#{id}

     	</update>
     	<!-- 删除 -->
     	<delete id="delete">
     	DELETE FROM cms_slide WHERE id in(${ids})
     	</delete>
     </mapper>